.botaoSalvar{
    margin-top: 20px;
    height: 40px;
    width: 100px;
    border-radius: 3px;
    background-color:#088A68;
    color: white;
    border: none;
}

.form{
    display: flex;
    flex-direction: column; 
    margin-bottom: 20px;   
}

.dados{
    border-radius: 3px;
    width: 240px;
    margin-bottom: 5px;
    padding: 10px 20px;
}

.displayForms{
    display: flex;
    flex-direction: row;
}

.divForm{
    display: flex;
    border: 1px solid black;
    width: 40%;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.card {
    width: 200px;
    height: 300px;
    border: 1px solid #CCCCCC;
    padding: 10px;
    margin: 5px;
}

.card-imagem {
    height: 130px;
}

.card-img {
    width: 100%;
    height: 100%;
}

.card-corpo {
    height: 170px;
}

.card-corpo-texto {
    height: 110px;
}

.card-acao {
    height: 60px;
}

.container {
    display: flex;
    width: 100%;
    height: auto;
}