.botaoSalvar{
    margin-top: 20px;
    height: 40px;
    width: 100px;
    border-radius: 3px;
    background-color:#088A68;
    color: white;
    border: none;
}

.form{
    display: flex;
    flex-direction: column; 
    margin-bottom: 20px;   
}

.dados{
    border-radius: 3px;
    width: 240px;
    margin-bottom: 5px;
    padding: 10px 20px;
}

.displayForms{
    display: flex;
    flex-direction: row;
}

.divForm{
    display: flex;
    border: 1px solid black;
    width: 40%;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

